# Archivos compilados de Python
__pycache__/
*.pyc

# Carpetas de datos (NO subir imágenes pesadas)
timelapse_data/
wplace_capturas_local/
*.zip
*.png
*.json

# Archivos de estado y configuración local
wplace_state.json
client_config.json
*.log
proxy_config.json
sabueso_state.json
plan_state.json
*.json.local

# Entornos virtuales (si usas venv)
venv/
env/
.env

# Sistema operativo
.DS_Store
Thumbs.db