# Entornos virtuales y Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Datos dinámicos de imágenes y descargas
timelapse_data/
sentry_data/
wplace_downloads/
*.zip

# Archivos de estado y persistencia local
*_state.json
plan_state.json
tasks_manifest.json
client_config.json

# Logs y llaves
*.log
*.pem
