# Entornos virtuales y Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Datos dinámicos de imágenes y descargas
timelapse_data/
sentry_data/
wplace_downloads/
*.zip
build/
dist/


# Archivos de estado, configuraciones y proxies
*_state.json
plan_state.json
tasks_manifest.json
client_config.json
proxy_config.json
last_config.json
proxies.txt
*.spec
*.ico
# Logs y llaves
*.log
*.pem

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/captures/
*.apk
*.aab
.DS_Store
